
// White
$body_bg: #FFF;
$body_color: #555;
$body_border: 1px solid #222;
$body_link: #69F;
$body_hover: #3cbffa;
$header_color: #555;
$header_hover: $body_hover;
$tap_highlight: $body_link;
$code_bg: #222;
$code_color: #555;
$block_color: $code_color;
$th_border: 1px solid #222;
$td_border: 1px dotted #222;
$logo_h1: #666;
$logo_span: #3cbffa;

$sherpa_bg: #555;
$sherpa_align: center;
$sherpa_color: #999;

@import 'scss/application';

