
/* Containers
 *****************************************************************************/

#container {
  width: 992px;
  overflow: hidden;
  margin: 0 auto;
}

#content {
  width: 992px;
  display: inline-block;
  margin-bottom: 120px;
  background: #fff url(/images/backgrounds/home-background.png) no-repeat 0 0;
}

#top_smoke {
  width: 992px;
  height: 30px;
  background: #fff url(/images/backgrounds/top-background-sprites.png) no-repeat 0 0;
}

.top {
  margin-top: 250px;
}

#process, #services, #knowledge, 
#community, #company {
  .top {
    margin-top: 110px;
  }
  #content {
    margin-bottom: 44px;
  }
}

#process {
  #top_smoke {
    background-position: 0 -30px;
  }
  #content {
    background-image: url(/images/backgrounds/process-background.png);
  }
}

#services {
  #top_smoke {
    background-position: 0 -60px;
  }
  #content {
    background-image: url(/images/backgrounds/services-background.png);
  }
}

#knowledge {
  #top_smoke {
    background-position: 0 -90px;
  }
  #content {
    background-image: url(/images/backgrounds/knowledge-background.png);
  }
}

#community {
  #top_smoke {
    background-position: 0 -120px;
  }
  #content {
    background-image: url(/images/backgrounds/community-background.png);
  }
}

#company {
  #top_smoke {
    background-position: 0 -150px;
  }
  #content {
    background-image: url(/images/backgrounds/company-background.png);
  }
}


/* #home #container { */
  /* background: transparent url(/images/backgrounds/home.png) no-repeat top left; */
/* } */

/* #careers #container { */
  /* background: transparent url(/images/backgrounds/careers.png) no-repeat top left; */
/* } */

/* Grids
 *****************************************************************************/
.row {
  display: inline-block;
}

.col-first,
.col-mid,
.col-last {
  border-top: 1px solid $ltblue;
  display: inline;
  float: left;
  margin: 0 7px 22px 7px;
  overflow: hidden;

  &.borderless {
    border-top: 0;
  }
}

.col-first {
  margin-left: 22px;
}

.col-last {
  margin-right: 22px;
}

/* Templates
 *****************************************************************************/
.single,
.double,
.triple {
  p, address {
    margin: 0 48px 0 2px;
  }
}

.single {
  .col-first { width: 600px; }
}

.double {
  .col-first,
  .col-last {
    width: 467px;
  }
}

.triple {
  .col-first { width: 297px; }
  .col-mid { width: 290px; }
  .col-last { width: 333px; }
}

