
/* Containers
 *****************************************************************************/

#container {
  width: 992px;
  overflow: hidden;
  margin: 0 auto;
  background: transparent url(/images/backgrounds/default.png) no-repeat top left;
}

#home #container {
  background: transparent url(/images/backgrounds/home.png) no-repeat top left;
}

#careers #container {
  background: transparent url(/images/backgrounds/careers.png) no-repeat top left;
}

#content {
  display: inline-block;
  margin-top: 190px;
  margin-bottom: 44px;

  ul li {
    font-size: 13px;
    line-height: 18px;
    text-transform: lowercase;
    margin: 0 0 0 2px;
  }
}

/* Grids
 *****************************************************************************/
.row {
  display: inline-block;
}

.col-first,
.col-mid,
.col-last {
  border-top: 1px solid $ltblue;
  display: inline;
  float: left;
  margin: 0 7px 22px 7px;
  overflow: hidden;

  &.borderless {
    border-top: 0;
  }
}

.col-first {
  margin-left: 22px;
}

.col-last {
  margin-right: 22px;
}

/* Templates
 *****************************************************************************/
.single,
.double,
.triple {
  p, address {
    margin: 0 48px 0 2px;
  }
}

.single {
  .col-first { width: 600px; }
}

.double {
  .col-first,
  .col-last {
    width: 467px;
  }
}

.triple {
  .col-first { width: 297px; }
  .col-mid { width: 290px; }
  .col-last { width: 333px; }
}

