
header {
  margin: 30px 0 0 0;
  height: 95px;
  background: #fff;

  nav ul li {
    font-size: 11px;
    font-family: $sans_bold;
    text-transform: uppercase;
    margin: 43px 70px 0 0;
    float: left;
  }

  .logotype {
    background: #fff url(/images/assets/bit-theory-logotype.png) no-repeat top left;
    border: none;
    width: 113px;
    height: 10px;
    margin: 45px 47px 0 11px;
    text-indent: -999em;
    a {
      display: block;
    }
  }

  .jib-jab {
    margin: 0 0 2px 1px;
    background-color: $cyan;
    width: 10px;
    height: 1px;
  }

  img {
    margin: 13px 0 0 2px;
    float: right;
  }
}

/* Navigation States
 *****************************************************************************/

#home .home,
#services .services,
#process .process,
#knowledge .knowledge,
#community .community,
#company .company,
#contact .contact {
  font-family: $sans_bold;
  color: $link_highlight;
  cursor: default;
}

#careers .careers {
  font-family: $sans_norm;
  color: $util_highlight;
  cursor: default;
}

