
/* iPad landscape */
@media (min-device-width:1024px) and (max-width:960px),(min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) {

  #home #content {
    margin-bottom: 84px;
  }

  footer {
    margin-bottom: 10px;
  }
}

/* iPad portrait */
@media (min-device-width:1024px) and (max-width:960px),(min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {

  /* containers */
  #container, #top_smoke, #content {
    width: 760px;
  }

  #top_smoke {
    height: 23px;
    @include background_size(760px, 138px);
    background-position: 0 0;
  }

  #content {
    @include background_size(760px, 218px);
  }

  #process {
    #top_smoke {
      background-position: 0 -23px;
    }
    #content {
      @include background_size(760px, 111px);
    }
  }

  #services {
    #top_smoke {
      background-position: 0 -46px;
    }
    #content {
      @include background_size(760px, 76px);
    }
  }

  #knowledge {
    #top_smoke {
      background-position: 0 -69px;
    }
    #content {
      @include background_size(760px, 134px);
    }
  }

  #community {
    #top_smoke {
      background-position: 0 -92px;
    }
    #content {
      @include background_size(760px, 146px);
    }
  }

  #company {
    #top_smoke {
      background-position: 0 -115px;
    }
    #content {
      @include background_size(760px, 222px);
    }
  }

  .col-mid,
  .col-last {
    margin-left: 22px;
    margin-right: 7px;
  }

  .double,
  .triple {
    .col-first { width: 600px; }
    .col-mid   { width: 600px; }
    .col-last  { width: 600px; }
  }

  /* sections */
  header {
    height: 85px;
    nav ul li {
      margin-right: 35px;
    }
    .logotype {
      margin-right: 30px;
    }
    img {
      width: 62px;
      height: 55px;
      margin-top: 20px;
    }
  }

  footer {
    margin-bottom: 10px;
    nav ul li {
      margin-right: 14px;
    }
    .github {
      display: none;
    }
  }

}

