
/* iPad landscape */
@media (min-device-width:1024px) and (max-width:960px),(min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) {

  #home #content {
    margin-bottom: 84px;
  }

  footer {
    margin-bottom: 10px;
  }
}

/* iPad portrait */
@media (min-device-width:1024px) and (max-width:960px),(min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {

  /* containers */
  #container {
    width: 760px;
    @include background_size(760px, 368px)
  }

  #content {
    margin-top: 116px;
  }

  #home #content {
    margin-top: 176px;
    margin-bottom: 120px;
  }

  .col-mid,
  .col-last {
    margin-left: 22px;
    margin-right: 7px;
  }

  .double,
  .triple {
    .col-first { width: 600px; }
    .col-mid   { width: 600px; }
    .col-last  { width: 600px; }
  }

  /* sections */
  header {
    nav ul li {
      margin-right: 35px;
    }
    .logotype {
      margin-right: 30px;
    }
  }

  footer {
    margin-bottom: 10px;
    nav ul li {
      margin-right: 14px;
    }
    .github {
      display: none;
    }
  }

}

/* iPhone landscape */
@media (min-device-width:1024px) and (max-width:747px),(max-device-width:480px) and (orientation:landscape) {

  /* containers */
  #container {
    width: 470px;
    @include background_size(470px, 227px)
  }

  #content {
    margin-top: 116px;
  }

  #home #content {
    margin-top: 76px;
    margin-bottom: 20px;
  }

  .col-first,
  .col-mid,
  .col-last {
    margin-left: 0;
    margin-right: 7px;
  }

  .single,
  .double,
  .triple {
    p, address {
      margin-right: 20px;
    }
    .col-first { width: 460px; }
    .col-mid   { width: 460px; }
    .col-last  { width: 460px; }
  }

  /* sections */
  header {
    nav ul li {
      margin: 10px 15px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }

    .wrapme {
      margin-left: 0;
    }

    .logotype {
      float: none;
      margin: 45px 0 0 0;
    }
    img {
      margin-top: -32px;
      float: right;
    }
  }

  footer {
    margin-bottom: 10px;
    nav ul {
      margin: 8px 0 0 0;
      text-align: left;
    }

    nav ul li {
      margin-right: 14px;
      display: block;
    }

    .twitter, .github {
      display: none;
    }

    .img {
      margin-top: -12px;
    }

  }

}

/* iPhone portrait */
@media (min-device-width:1024px) and (max-width:469px),(max-device-width:480px) and (orientation:portrait) {

  /* containers */
  #container {
    width: 310px;
    @include background_size(310px, 150px)
  }

  #content {
    margin-top: 116px;
  }

  #home #content {
    margin-top: 76px;
    margin-bottom: 20px;
  }

  .col-first,
  .col-mid,
  .col-last {
    margin-left: 0px;
    margin-right: 7px;
  }

  .single,
  .double,
  .triple {
    p, address {
      margin-right: 20px;
    }
    .col-first { width: 300px; }
    .col-mid   { width: 300px; }
    .col-last  { width: 300px; }
  }

  /* sections */
  header {
    nav ul li {
      margin: 10px 20px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }

    .wrapme {
      margin-left: 0;
    }

    .logotype {
      float: none;
      margin: 45px 0 0 0;
    }

    img {
      margin-top: -32px;
      float: right;
    }
  }

  footer {
    margin-bottom: 10px;
    nav ul {
      margin: 8px 0 0 0;
      text-align: left;
    }

    nav ul li {
      margin-right: 14px;
      display: block;
    }

    .img {
      margin-top: -10px;
    }
    .twitter, .github {
      display: none;
    }

  }

}

/* Poor bastards */
.no-js {
}

