
#home #container {
  background: #fff url(/images/backgrounds/home.png) no-repeat top left;
}

#careers #container {
  background: #fff url(/images/backgrounds/careers.png) no-repeat top left;
}

.content {
  display: inline-block;
  margin-top: 190px;
  margin-bottom: 44px;

  ul li {
    font-size: 13px;
    line-height: 18px;
    text-transform: lowercase;
    margin: 0 0 0 2px;
  }
}

/* Grids
 *****************************************************************************/
.row {
  display: inline-block;
}

.col-first,
.col-mid,
.col-last {
  border-top: 1px solid $ltblue;
  display: inline;
  float: left;
  margin: 0 7px 22px 7px;
  overflow: hidden;
}

.col-first {
  margin-left: 22px;
}

.col-last {
  margin-right: 22px;
}

/* Templates
 *****************************************************************************/
.single,
.double,
.triple {
  p, address {
    margin: 0 48px 0 2px;
  }
}

.single {
  .col-first { width: 600px; }
}

.double {
  .col-first,
  .col-last {
    width: 467px;
  }
}

.triple {
  .col-first { width: 297px; }
  .col-mid { width: 290px; }
  .col-last { width: 333px; }
}

/* Components
 *****************************************************************************/

article {
  margin: 0 0 24px 2px;
  display: inline-block;

  &:last-child {
    margin-bottom: 0;
  }
}

.as-copy {
  ul li {
    font-size: 11px;
    color: $mdgrey;
    line-height: 16px;

    a, a:visited, a:active {
      color: $p_link_static;
    }

    a:hover {
      color: $p_link_hover;
    }
  }
}

.gravatar-small,
.gravatar-small-bt {
  width: 24px;
  height: 24px
}

/* Pages
 *****************************************************************************/
#home .content {
  margin-top: 250px;
  margin-bottom: 120px;
}

#company .content {
  img {
    margin: 12px 0 0 2px;
    width: 64px;
    height: 47px;
  }
}

