
/* Components
 *****************************************************************************/

article {
  margin: 0 0 24px 2px;
  display: inline-block;

  &:last-child {
    margin-bottom: 0;
  }
}

#content {
  ul li {
    font-size: 13px;
    line-height: 18px;
    text-transform: lowercase;
    margin: 0 0 0 2px;
  }
}

#content .as-copy,
.as-copy {
  ul li {
    font-size: 11px;
    color: $mdgrey;
    line-height: 16px;

    a, a:visited, a:active {
      color: $p_link_static;
    }

    a:hover {
      color: $p_link_hover;
    }
  }
}

.gravatar-small {
  width: 24px;
  height: 24px
}

/* Pages
 *****************************************************************************/
#company #content {
  img {
    margin: 12px 0 0 2px;
    width: 64px;
    height: 47px;
  }
}

#knowledge #content {
  h2 {
    margin-bottom: 0;
  }

  date {
    color: $cyan;
    display: block;
    margin: 0 0 12px 2px;
    font-size: 12px;
    font-family: $serif_bold;
  }

  img {
    margin: 0 0 0 2px;
  }
}

