%footer#footer
  %nav
    %ul
      %li <small>&copy;</small> 2011 Bit Theory, LLC
      %li
        %a(href="mailto:info@bittheory.com") info<small>@</small>bittheory.com
      %li
        %a(href="/careers" class="careers") bittheory.com/careers
      %li
        %a(href="http://twitter.com/bittheory_") twitter.com/bittheory_
      %li
        %a(href="http://github.com/bit-theory") github.com/bit-theory
      %li
        phone:
        %a(href="tel:720-720-440-2487") 720.440.BITS
      %li.last
        .img

