%footer#footer
  %nav
    %ul
      %li <small>&copy; 2011</small> Bit Theory, LLC
      %li
        %a(href="mailto:info@bittheory.com") info<small>@</small>bittheory.com
      %li
        %a(href="/careers" class="careers") bittheory.com/careers
      %li
        %a(href="http://twitter.com/bittheory_") twitter.com/bittheory_
      %li
        %a(href="http://github.com/bit-theory") github.com/bit-theory
      %li.last <small>38</small> E <small>5</small>th Ave, Suite <small>170</small> Denver, CO <small>80203</small>

