%footer#footer
  %nav
    %ul
      %li.copyright <small>&copy;</small> #{Time.now.year} Bit Theory, LLC
      %li.mail
        %a(href="mailto:info@bittheory.com") info<small>@</small>bittheory.com
      %li.careers
        %a(href="/careers" class="careers") bittheory.com/careers
      %li.twitter
        %a(href="http://twitter.com/bittheory_") twitter.com/bittheory_
      %li.github
        %a(href="http://github.com/bit-theory") github.com/bit-theory
      %li.phone
        phone:
        %a(href="tel:720-440-2487") 720.440.BITS
      %li.last
        .img

