#footer
  .row
    .col-02
      %h4
        %a{:href => '/', :class => 'home'} who we are
    .col-02
      %h4
        %a{:href => '/services', :class => 'services'} services
    .col-02
      %h4
        %a{:href => '/contact', :class => 'contact'} contact
    .col-02
      %h4
        %a{:href => '/jobs', :class => 'jobs'} jobs
    .col-04
      %h4
        %a{:href => 'mailto:info@bittheory.com'} info@bittheory.com
