%header#header
  %nav
    %ul
      %li.logotype
        %a(href="/" class="home") home
      %li
        %a(href="/services" class="services") services
      %li
        %a(href="/process" class="process") process
      %li
        %a(href="/knowledge" class="knowledge") knowledge
      %li
        %a(href="/community" class="community") community
      %li.last
        %a(href="/company" class="company") company
    %img(src="/images/assets/bit-theory-diagonal-crest.png" alt="bit-theory-crest")
