%header#header
  %nav
    %img(src="/images/assets/bit-theory-diagonal-crest.png" alt="bit-theory-crest")
    %ul
      %li.logotype.home
        %a.internal(href="/") home
      %li.wrapme.process
        .jib-jab
        %a.internal(href="/process") process
      %li.services
        .jib-jab
        %a.internal(href="/services") services
      %li.knowledge
        .jib-jab
        %a.internal(href="/knowledge") knowledge
      %li.community
        .jib-jab
        %a.internal(href="/community") community
      %li.last.company
        .jib-jab
        %a.internal(href="/company") company

