%header#header
  %nav
    %ul
      %li.logotype
        %a(href="/" class="home internal") home
      %li.wrapme
        .jib-jab
        %a(href="/process" class="process internal") process
      %li
        .jib-jab
        %a(href="/services" class="services internal") services
      %li
        .jib-jab
        %a(href="/knowledge" class="knowledge internal") knowledge
      %li
        .jib-jab
        %a(href="/community" class="community internal") community
      %li.last
        .jib-jab
        %a(href="/company" class="company internal") company
    %img(src="/images/assets/bit-theory-diagonal-crest.png" alt="bit-theory-crest")

