
-# Add concatenated minified javascripts
-# %script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js", :type => "text/javascript"}
-# :javascript
  -# !window.jQuery && document.write(unescape('%3Cscript src="/javascripts/jquery-1.6.min.js"%3E%3C/script%3E'))
-# %script{:src => "/javascripts/global.js", :type => "text/javascript"}
