%footer#footer.footer
  %nav(role="navigation")
    %span.modicon.modicon-binary(aria-hidden="true")
    %p.copyright <small>&copy;</small> #{Time.zone.now.year} Mode Set
    %ul.nav
      %li<
        %a(href="mailto:info@modeset.com") inquiries<small>@</small>modeset.com
      %li<
        %a(href="http://twitter.com/modeset_") twitter.com/modeset_
      %li<
        %a(href="http://github.com/modeset") github.com/modeset
      %li<
        %a(href="tel:720-440-2487") Phone: 720.440.BITS
  %span.slant(aria-hidden="true")
  %span.modeset-crest(aria-hidden="true")

