%header#navigation.navigation
  %nav(role="navigation")
    %ul.nav(data-bindable="navigation")
      %li.logotype<
        %a.internal(href="/")<
          %span.icon.icon-logotype-tm
      %li<
        %a.internal(href="/how-we-work") how we work
      %li<
        %a.internalish(href="/what-we-know") what we know
      %li<
        %a.internal(href="/share-the-love") share the love
      %li<
        %a.internal(href="/who-we-are") who we are
  %span.slant(aria-hidden="true")
  %span.icon.icon-crest

