%header#navigation.navigation
  %nav(role="navigation")
    %ul.nav(data-bindable="navigation")
      %li.logotype<
        %a(href="/") mode set
      %li<
        %a(href="/process") process
      %li<
        %a(href="/services") services
      %li<
        %a(href="/knowledge") knowledge
      %li<
        %a(href="/community") community
      %li<
        %a(href="/company") company
  = image_tag 'mode-set-diagonal-crest.png', alt: 'mode set crest'

