%header#navigation.navigation
  %nav(role="navigation")
    %a.logotype(href="/")<
      %span.modeset-typetrade
    = semantic_navigation :primary, class: 'nav'

  %span.slant(aria-hidden="true")
  %span.modeset-crest

