%header#navigation.navigation
  %nav(role="navigation")
    %ul.nav(data-bindable="navigation")
      %li.logotype<
        %a.internal(href="/") mode set
      %li<
        %a.internal(href="/process") how we work
      %li<
        %a.internal(href="/knowledge") what we know
      %li<
        %a.internal(href="/community") share the love
      %li<
        %a.internal(href="/company") who we are
  = image_tag 'mode-set-diagonal-crest.png', alt: 'mode set crest'

