%header#navigation.navigation
  %nav(role="navigation")
    %ul.nav(data-bindable="navigation")
      %li.logotype<
        %a.internal(href="/") mode set
      %li<
        %a.internal(href="/how-we-work") how we work
      %li<
        %a.internalish(href="/what-we-know") what we know
      %li<
        %a.internal(href="/share-the-love") share the love
      %li<
        %a.internal(href="/who-we-are") who we are
  = image_tag 'mode-set-diagonal-crest.png', alt: 'mode set crest', class: 'crest'

