
/* iPhone landscape */
@media (min-device-width:1024px) and (max-width:747px),(max-device-width:480px) and (orientation:landscape) {

  a:hover {
    color: $link_static;
  }

  /* containers */
  #container, #top_smoke, #content {
    width: 470px;
  }

  .top {
    margin-top: 110px;
  }

  #top_smoke {
    height: 15px;
    @include background_size(470px, 135px);
    background-position: 0 0;
  }

  #content {
    @include background_size(470px, 137px);
    margin-bottom: 20px;
  }

  #process, #services, #knowledge,
  #community, #company {
    .top {
      margin-top: 85px;
    }
    #content {
      margin-bottom: 20px;
    }
  }

  #process {
  }

  #services {
    #top_smoke {
      background-position: 0 -45px;
    }
  }

  #knowledge {
    #top_smoke {
      background-position: 0 -75px;
    }
  }

  #community {
    #top_smoke {
      background-position: 0 -90px;
    }
  }


  #company {
    #top_smoke {
      background-position: 0 -120px;
    }
  }

  .col-first,
  .col-mid,
  .col-last {
    margin-left: 0;
    margin-right: 7px;
  }

  .single,
  .double,
  .triple {
    p, address {
      margin-right: 20px;
    }
    .col-first { width: 460px; }
    .col-mid   { width: 460px; }
    .col-last  { width: 460px; }
  }

  /* sections */
  header {
    height: 50px;
    nav ul li {
      margin: 10px 20px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }

    .wrapme {
      margin-left: 0;
    }

    .logotype {
      float: none;
      margin: 5px 0 0 0;
    }
    img {
      width: 45px;
      height: 40px;
      margin-top: 10px;
    }
    canvas {
      z-index: 40; 
      right: 1px; 
      position: absolute;
      top: 8px;
    }
  }

  footer {
    margin-bottom: 10px;
    nav ul {
      margin: 8px 0 0 0;
      text-align: left;
    }

    nav ul li {
      margin-right: 14px;
      display: block;
      .img {
        text-align: right;
        float: right;
        margin: -12px 0 0 0;
      }

    }

    .github {
      display: none;
    }

  }

}

/* iPhone portrait */
@media (min-device-width:1024px) and (max-width:469px),(max-device-width:480px) and (orientation:portrait) {

  a:hover {
    color: $link_static;
  }

  /* containers */
  #container, #top_smoke, #content {
    width: 310px;
  }

  .top {
    margin-top: 90px;
  }

  #top_smoke {
    height: 9px;
    @include background_size(310px, 56px);
    background-position: 0 0;
  }

  #content {
    @include background_size(310px, 91px);
    margin-bottom: 20px;
  }

  #process, #services, #knowledge,
  #community, #company {
    .top {
      margin-top: 65px;
    }
    #content {
      margin-bottom: 20px;
    }
  }

  #process {
    #top_smoke {
      background-position: 0 -10px;
    }
  }

  #services {
    #top_smoke {
      background-position: 0 -18px;
    }
  }

  #knowledge {
    #top_smoke {
      background-position: 0 -28px;
    }
  }

  #community {
    #top_smoke {
      background-position: 0 -38px;
    }
  }

  #company {
    #top_smoke {
      background-position: 0 -48px;
    }
  }

  /* rows */
  .col-first,
  .col-mid,
  .col-last {
    margin-left: 0px;
    margin-right: 7px;
  }

  .single,
  .double,
  .triple {
    p, address {
      margin-right: 20px;
    }
    .col-first { width: 300px; }
    .col-mid   { width: 300px; }
    .col-last  { width: 300px; }
  }

  /* sections */
  header {
    height: 45px;
    nav ul li {
      font-size: 9px;
      margin: 10px 10px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }

    .wrapme {
      margin-left: 0;
    }

    .logotype {
      float: none;
      margin: 10px 0 0 0;
    }
    img {
      display: none;
      width: 34px;
      height: 30px;
      margin-top: 14px;
    }
    canvas {
      z-index: 40; 
      right: 4px; 
      position: absolute;
      top: 81px;
    }
  }

  footer {
    margin-bottom: 10px;
    nav ul {
      margin: 8px 0 0 0;
      text-align: left;
    }

    nav ul li {
      margin-right: 14px;
      display: block;
      .img {
        text-align: right;
        float: right;
        margin: -12px 0 0 0;
      }
    }
    .github {
      display: none;
    }

  }

}

/* Poor bastards */
.no-js {
}

