.row.top.single
  .col-first
    %h1 either your theory or our theory is completely wrong.
    %p it's a 404 error. something very bad may have happened. go ahead and give it another shot.
    %p still having problems? better hit us up on <a href="http://twitter.com/bittheory_">twitter</a>. we're probably more responsive there.
    %p really it's still not working? you should <a href="http://twitter.com/bittheory_">apply for a job</a> then

