
%section.content.single
  .col-first
    %h1 it's amazon's fault.
    %p it's a <strong>500</strong> error. the server is gone. either one of the ui developers took it down, or it's <a href="http://www.heroku.com/">heroku's</a> fault.
    %p we've been notified, but if you're really concerned, hit us up on <a href="http://twitter.com/bittheory_">twitter</a>.

