.row.top.single
  .col-first
    %h1 it's amazon's fault.
    %p it's a 500 error. the server is gone. good chance one of the ui developers took it down. how's <a href="http://status.heroku.com/">heroku</a> doing?
    %p regardless, we've been notified, but if you're really concerned, hit us up on <a href="http://twitter.com/bittheory_">twitter</a>.

