.row.single
  .col-first
    %h1 we are hiring.
    %p we have open positions for ruby on rails, iOS, android and html/css/javascript developers.
    %p interested candidates should send a resume and link to your <a href="http://www.github.com/">github</a> account to:
    %p
      %a(href="mailto:jobs@bittheory.com") jobs@bittheory.com
