%section.content
  .row.single
    .col-first
      %h1 community.
      %p we love applying our skills and drive to pursuits outside of client work as well. from open source projects to conferences and events to sports and performances, we're all about getting out there, expanding our horizons, and giving back.
    .col-first
      %h2 events.
      %article.event
        :markdown
          ### Rocky Mountain Ruby 2011
          we'll be attending [rocky mountain ruby 2011](http://www.rockymtnruby.com/) in boulder from august 31 to september 2. bit theory is co-sponsoring the closing night brewery tour with [pivotal labs](http://pivotallabs.com/). jay will be speaking on the topic of cognitive psychology as it relates to the "zen of coding".

      %article.event
        :markdown
          ### Mountain.rb 2010
          jay spoke on the topic of managing long-term projects at [mountain.rb 2010](http://mountainrb.com/sessions).

          [check out the video](http://confreaks.net/videos/417-mountainrb2010-avoiding-the-seven-year-itch) to avoid the seven year itch.


    .col-first.as-copy
      :markdown
        ## open source.
        * gabe's [home_cookin](https://github.com/gvarela/home_cookin) is an easy-as-pie helper for configuring your dev workstation using chef-solo.
        * matt's [watchn](https://github.com/mkitt/watchn) is an uber-customizable file watcher written in node.js.
        * matt's [nagari](https://mkitt.github.com/nagari) is a style guide starter kit.
        * gabe's [osx-cookbooks-ext](https://github.com/gvarela/osx-cookbooks-ext) is a library of recipes that works swimmingly with [home_cookin](https://github.com/gvarela/home_cookin)
        * gabe's [food_court](https://github.com/gvarela/home_cookin) is a chef-solo wrapper with recipes for configuring server slices.
        * jay's [cucumber-api-steps](https://github.com/jayzes/cucumber-api-steps) is a set of handy cucumber steps for testing API interfaces in XML or JSON.
        * [vimfiles](https://github.com/bit-theory/vimfiles) is our own favorite settings for the best editor ever.
        * there's even more up on [github](https://github.com/bit-theory)
        * and be sure to check out our personal github accounts: [gabe](https://github.com/gvarela) / [jay](https://github.com/jayzes) / [justin](https://github.com/cacheflowe) / [matt](https://github.com/mkitt)

