%section.content
  .row.single
    .col-first
      %h1 bit theory.
      %p A software consultancy specializing in web and mobile application development. <big><strong>WE NEED SOME MORE COPY HERE FELLAS!</strong></big>
      %br
      %p we currently reside at
      %address
        38 e 5th ave, suite 170
        %br
        denver, co 80203
      %br
      %p email us at <a href="mailto:info@bittheory.com">info<small>@</small>bittheory.com</a>
      %p chat with us at <a href="tel:720-720-440-2487">720.440.BITS</a>
      %p follow us on <a href="http://twitter.com/bittheory_">twitter</a>
      %p see what've done on <a href="https://github.com/bit-theory">github</a>
      %p join our team on the <a href="/careers">careers</a> page

  .row.double
    .col-first
      %h2 gabe varela.
      %p Gabe leads technical development and architecture for bit theory. He is an expert in web technologies and application development with over a decade of experience. He provides expertise and leadership in agile and test driven development, technical architecture, performance optimization/scaling, and infrastructure development.
      %br
      %p Gabe received his bachelor of arts in biochemistry from the University of Colorado, Boulder. <a href="http://twitter.com/g3ak">twitter</a> / <a href="https://github.com/gvarela">github</a>
    .col-last
      %h2 jay zeschin.
      %p Jay leads technical development and architecture for bit theory. With over 6 years of experience building and scaling web applications, from marketing databases to complex enterprise workflow apps, and enjoys bringing his background in theoretical computer science and psychology to bear on a wide variety of problems.
      %br
      %p Jay received his bachelor of science in computer science from Northwestern University. <a href="http://twitter.com/jayzes">twitter</a> / <a href="https://github.com/jayzes">github</a>
  .row.double
    .col-first
      %h2 justin gitlin.
      %p Justin leads mobile development for bit theory. He is an expert in developing engaging user interfaces, video games, mobile apps, and optimizing for iOS and Android devices. With 12 years of experience working on international brands, he continues to push his skills and explore cutting-edge technologies.
      %br
      %p Justin holds a double major in computer science and digital media studies, with a general business minor from the University of Denver. <a href="http://twitter.com/cacheflowe">twitter</a> / <a href="https://github.com/cacheflowe">github</a>
    .col-last
      %h2 matthew kitt.
      %p Matt leads user interface development for bit theory. He is an expert in front end web technologies with over a decade of experience, building large scale applications for global brands. He provides unique insight translating user experience, creative executions and interactions through innovative, optimized, interface development.
      %br
      %p Matt received his bachelor of fine arts in interactive media and technology from the Rochester Institute of Technology. <a href="http://twitter.com/mkitt_">twitter</a> / <a href="https://github.com/mkitt">github</a>

