%section.content
  .row.single
    .col-first
      %h1 bit theory.
      %p A software consultancy specializing in web and mobile application development.

  .row.double
    .col-first
      %h2 gabe varela.
      %p Gabe is an expert in web technologies with over a decade of experience. He provides expertise and leadership in agile and test driven development, technical architecture, performance optimization/scaling, and infrastructure development.
      %br
      %p Gabe leads technical development for the company. He received his bachelor of arts in biochemistry from the University of Colorado, Boulder.
    .col-last
      %h2 jay zeschin.
      %p Jay is a technical architect with over 6 years of experience building and scaling web applications, from marketing databases to complex enterprise workflow apps, and enjoys bringing his background in theoretical computer science and psychology to bear on a wide variety of problems.
      %br
      %p Jay received his bachelor of science in computer science from Northwestern University.
  .row.double
    .col-first
      %h2 justin gitlin.
      %p Justin is an expert in developing engaging user interfaces, video games, mobile apps, multimedia experiences, and has recently spent much of his time optimizing the web for iOS and Android touchscreen devices. After 12 years of professional development experience working for international brands, he continues to increase his skills and explore cutting-edge technologies.
      %br
      %p Justin holds a double major in computer science and digital media studies, with a general business minor from the University of Denver.
    .col-last
      %h2 matthew kitt.
      %p Matt is an expert in front end web technologies with over a decade of experience, building applications for global brands. He provides unique insight translating user experience and interactions through innovative, optimized, interface development.
      %br
      %p Matt leads user interface development for the company. He received his bachelor of fine arts in interactive media and technology from the Rochester Institute of Technology.

  .row.single
    .col-first
      %h2 contact.
      %p Location, twitter, etc. ?
      -# %li.last <small>38</small> E <small>5</small>th Ave, Suite <small>170</small> Denver, CO <small>80203</small>


