.row.top.single
  .col-first
    %h1 mode set. (formerly bit theory)
    %p a software consultancy specializing in web and mobile application development. it was created by four developers with a drive to focus on quality and creativity. we strive to give you more than code, we are here to help you make your business better.
.row.double
  .col-first
    %h2 gabe varela.
    %p gabe leads technical development and architecture for mode set. he is an expert in web technologies and application development with over a decade of experience. he provides expertise and leadership in agile and test driven development, technical architecture, performance optimization/scaling, and infrastructure development.
    %br
    %p gabe received his bachelor of arts in biochemistry from the university of colorado, boulder. <a href="http://twitter.com/g3ak">twitter</a> / <a href="https://github.com/gvarela">github</a>
  .col-last
    %h2 jay zeschin.
    %p jay leads technical development and architecture for mode set. with over 6 years of experience building and scaling web applications, from marketing databases to complex enterprise workflow apps, he enjoys bringing his background in theoretical computer science and psychology to bear on a wide variety of problems.
    %br
    %p jay received his bachelor of science in computer science from northwestern university. <a href="http://twitter.com/jayzes">twitter</a> / <a href="https://github.com/jayzes">github</a>
.row.double
  .col-first
    %h2 justin gitlin.
    %p justin leads mobile development for mode set. he is an expert in developing engaging user interfaces, video games, mobile apps, and optimizing for iOS and android devices. with 12 years of experience working on international brands, he continues to push his skills and explore cutting-edge technologies.
    %br
    %p justin holds a double major in computer science and digital media studies, with a general business minor from the university of denver. <a href="http://twitter.com/cacheflowe">twitter</a> / <a href="https://github.com/cacheflowe">github</a>
  .col-last
    %h2 matthew kitt.
    %p matt leads user interface development for mode set. he is an expert in front end web technologies with over a decade of experience, building large scale applications for global brands. he provides unique insight translating user experience, creative executions and interactions through innovative, optimized, interface development.
    %br
    %p matt received his bachelor of fine arts in interactive media and technology from the rochester institute of technology. <a href="http://twitter.com/mkitt_">twitter</a> / <a href="https://github.com/mkitt">github</a>
.row.double
  .col-first
    %h2 ryan boyajian.
    %p ryan is a multi-talented engineering wizard for mode set. in his 7 years of experience building complex interactive executions for major brands, from games to configurators to kiosks to mobile apps, he's seen and done it all. with a musician's ken for logic and structure, he is an expert in architecting applications and user interfaces across a variety of platforms.
    %br
    %p ryan received his bachelor of arts in interactive media design from the art institute of colorado. <a href="http://twitter.com/reboyajian">twitter</a> / <a href="https://github.com/boyajian">github</a>
  .col-first
    %h2 ken lee.
    %p ken is a logistical mastermind responsible for keeping mode set's operations running smoothly. with over 3 years of experience in interactive traffic and project management, he has keen and detail-oriented insight into the day-to-day management of a development operation.
    %br
    %p <a href="https://github.com/wewert">github</a>

.row.single
  .col-first
    %h2 connect.
    %p email us at <a href="mailto:info@modeset.com">info<small>@</small>modeset.com</a>
    %p chat with us at <a href="tel:720-440-2487">720.440.BITS</a>
    %p follow us on <a href="http://twitter.com/modeset_">twitter</a>
    %p see what've done on <a href="https://github.com/modeset">github</a>
    %p join our team on the <a href="/careers" class="internal">careers</a> page
    %br
    %p we currently reside at
    %address
      1782 platte st, denver, co 80202
    %img(src="/images/assets/mode-set-logo-128x93.png" alt="mode set")

