#content
  .row
    .col-08
      %h2 e-mail.
      %p.gutter-08
        %a{:href => 'mailto:info@bittheory.com'} info@bittheory.com
      %h2 phone.
      %p.gutter-08 303.946.9225
      %h2 mail.
      %p 38 e 5th ave, suite 170
      %p denver, co 80203
