#content
  .row
    .col-06.gutter-03
      %h2 we are bit theory.
      %p a premier web and mobile app development company that focuses on development.
    .col-06
      %h2 we are the best at what we do.
      %p we are regarded as technical experts and leaders in the web and mobile app development community.
      %br/
      %p we partner with the best creative agencies and the best technology companies to provide the highest quality development services.
