#content
  .row
    .col-04.gutter-03
      %h2 we are creative technologists.
      %p with a broad set of technical skills and a depth of experience in quality executions. we build immersive web experiences, mobile apps, and rich social applications for some of the biggest brands in the world.
    .col-04.gutter-03
      %h2 working with us is different.
      %p we are experts at operating in fast-paced, rapidly-changing environments. we understand that change happens, and that every project has its own unique set of challenges - from priorities to requirements to stakeholders to timelines - each need to be carefully navigated to make the project successful.
      %br/
    .col-04.gutter-03
      %h2 we focus on quality and efficiency.
      %p rapidly delivering working software, and a nimble process encouraging transparency and short feedback cycles. we want you actively engaged in the development cycle, prioritizing the features that have the most value. we want you in control of your success.
