#content
  .row
    .col-08
      %h2 bit theory is hiring.
      %p we have open positions for ruby on rails, iOS, android and html/css/javascript developers.
      %p interested candidates should send a resume and description of what you're looking for to:
      %p
        %a{:href => 'mailto:jobs@bittheory.com'} jobs@bittheory.com
