.row.single
  .col-first
    %h1 knowledge.
    %p this is where we drop some knowledge on the internets. the good, the bad, the opinionated.

  .col-first
    %article
      :markdown
        ## Hello World.
        <date>08.15.2011</date>

        Bit Theory was formed out of a passion to construct great software. Software, to help people build their business and realize their passion. Software, to scratch our own itch and solve problems that we've experienced. Software, we get to write with friends. Friends we've we worked with for many years and friends we'll meet down the road.

        &nbsp;

        From time to time, we'll write here about our confusions, frustrations, experience, knowledge, insights and generalities that we experience. Feel free to tag along.

        &nbsp;

        Welcome to Bit Theory. We're glad you're here and we're glad to be here.
    %img.gravatar-small(src="https://secure.gravatar.com/avatar/aa8ea677b07f626479fd280049b0e19f?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.pn://secure.gravatar.com/avatar/aa8ea677b07f626479fd280049b0e19f?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" alt="bit theory")
    %p.inline posted by bit theory

