.row.top.double
  .col-first
    %h1 services.
    %p
      :markdown
        we're not just developers. we want to understand your business model. we want to understand what it is that is going to make you money. what are your risks, blockers, opportunities, and market advantages? we're here to build you a viable, releasable product you can take to customers, investors, and shareholders. we're here to help guide your project from idea to a sustainable business. whether that product is a web application, mobile application, social application or purely architecture, infrastructure or optimization, we can help. we bring with us extensive knowledge and years of experience working with clients from small businesses to global multi-national brands.
  .col-last
    %h2 languages.
    %p
      :markdown
        working across various programming languages is really just acquainting yourself on the language's syntax and its nuances. we approach all languages the same. instill the best practices provided by test/behavior driven development, understand the core principles provided by design patterns and our own experiences. apply those practices to the languages. it's really not that complicated. we like to tell the machine what to do and how to do it. over the years, we've migrated towards languages we feel enable this type of practice. we love to spend our days in ruby, html5, css, javascript, objective c, scala, and c/c++. we have extensive knowledge in python, java, actionscript, and php. we are constantly evaluating tools and assessing the right one for the job at hand.

.row.double
  .col-first
    %h2 frameworks.
    %p
      :markdown
        the open source community has created a revolution in programming that most people may never understand. it's advanced the progression of language and framework development. it's tapped into the collective knowledge of millions of developers and progressed our understanding of how applications integrate with various frameworks and systems. frameworks have made our jobs easier, but understanding the power and downfalls of each of these OSS frameworks, requires a developer to look under the covers and understand what each of these libraries do. we do that. we are constantly evaluating OSS frameworks and how we should apply those to the software we are constructing. we tend to lean towards frameworks that are tested well, and have proven track records in real-world applications. we spend a lot of time in [ruby on rails](http://www.rubyonrails.org/), [jQuery](http://www.jquery.org/), [sinatra](http://www.sinatrarb.com/), [backbone](http://documentcloud.github.com/backbone/), [three20](http://three20.info/), [node.js](http://nodejs.org/), [ext.js](http://www.sencha.com/products/extjs/) and [sencha touch](http://www.sencha.com/products/touch/). we've spent countless hours in other libraries such as [prototype](http://www.prototypejs.org/), [mootools](http://www.mootools.net/), [flex](http://www.adobe.com/products/flex), [django](http://www.djangoproject.com/), [processing](http://www.processing.org/)/[processing.js](http://www.processingjs.org/), and even [written a few of our own](https://github.com/modeset). just as with languages, we like to provide the right tool for the job at hand.
  .col-last
    %h2 infrastructure.
    %p
      :markdown
        innovation in languages and frameworks has spurred a similarly momentous revolution in infrastructure and deployment stacks. utility computing and cloud providers have democratized sophisticated technologies that were previously available only to fortune 500 companies with massive infrastructure budgets. at the same time, the dizzying array of options makes it harder than ever to know that you're getting exactly what you need from your infrastructure without overpaying. we understand the players in the space, the product offerings, and the tradeoffs inherent in a wide variety of deployment architectures. we've built and scaled major apps on [rackspace](http://www.rackspace.com/), [amazon](http://aws.amazon.com/), and private infrastructures. we've integrated with data and cache stores from [mysql](http://www.mysql.com/) to [redis](http://redis.io/), [memcached](http://memcached.org/) to [oracle](http://www.oracle.com/us/products/database/index.html), and we've been doing [devops](http://en.wikipedia.org/wiki/DevOps) since before it was a buzzword. in short, we're all about using the right tools to build an infrastructure that enables your business - to prime you for current and future success without breaking the bank.
