#content
  .row
    .col-04.gutter-03
      %h2 services.
      %ul
        %li web development
        %li digital consulting
        %li mobile development
        %li tablet development
        %li iOS / android apps
        %li social applications
        %li software development
        %li technical architecture
        %li infrastructure automation
        %li site optimization
    .col-04.gutter-03
      %h2 languages.
      %ul
        %li ruby
        %li html5
        %li css
        %li javascript
        %li flash/actionscript
        %li objective c
        %li python
        %li c/c++
        %li scala
        %li java
        %li php
    .col-04.gutter-03
      %h2 frameworks.
      %ul
        %li ruby on rails
        %li jquery
        %li prototype/scriptaculous
        %li sinatra
        %li mootools
        %li ender
        %li chef
        %li flex
        %li three20
        %li django
        %li node.js
        %li processing

  .row
    .col-06.gutter-03
      %h2 data / cache stores.
      %ul
        %li mysql
        %li postgresql
        %li mongodb
        %li redis
        %li memcached
        %li oracle
        %li db2
    .col-06
      %h2 methodologies.
      %ul
        %li object oriented design
        %li test driven development
        %li behavioral development
        %li agile process
