%section.content
  .row.double
    .col-first
      %h1 services.
      %p We're not just developers. We want to understand your business model. We want to understand what is going to make you money. What are your risks, blockers, opportunities, market advantages? We're here to build you a viable product that you can take to market, investors, shareholders and show a viable, releasable product. We're here to help you guide your project into a sustainable business model. Whether that product is a web application, mobile application, social application or purely architecture, infrastructure or optimization. We can help. We have extensive knowledge and experience in providing these services from small to international global brands. 
    .col-last
      %h2 languages.
      %p working across various programming languages is really just acquainting yourself on the language's syntax and it's nuances. we approach all languages the same. instill the best practices provided by test/behavior driven development, understand the core principles provided by design patterns and our own experiences. apply those practices to the languages. it's really not that complicated. we like to tell the machine what to do and how to do it. over the years, we've definitely migrated towards languages we feel enable this type of practice. we love to spend our days in ruby, html5, css, javascript, objective c, scala, c/c++. we have extensive knowledge in actionscript/flash, python, java, and php. we are constantly evaluating what the right tool is to get the job done.

  .row.double
    .col-first
      %h2 frameworks.
      %p the open source community has created a revolution in programming that most people may never understand. it's advanced the progression of language and framework development. it's tapped into the collective knowledge of millions of developers and progressed our understanding of how applications integrate with various frameworks and systems. frameworks have made our jobs easier, but understanding the power and downfalls of each of these OSS frameworks, requires a developer to look under the covers and understand what each of these libraries do. we do that. we are constantly evaluating OSS frameworks and how we should apply those to the software we are constructing. we tend to lean towards frameworks that are tested well, and have proven track records in real-world applications. we spend a lot of time in ruby on rails, jQuery, Sinatra, Backbone, three20, node.js, ext.js and sencha touch. We've spent countless hours in other libraries such as prototype/scriptaculous, moo tools, flex, django, processing.js, plus written a few on our own. Exactly like languages, we like to provide the right tool for the job at hand.
    .col-last
      %h2 data/cache stores.
      %p um yeah… I've got nothing here boys. MYSQL, Postgresql, Redis, Memcached, Oracle, DB2

