%section.content
  .row.triple
    .col-first
      %h1 services.
      %ul
        %li Web Development
        %li Digital Consulting
        %li Mobile Development
        %li Tablet Development
        %li IOS / Android Apps
        %li Social Applications
        %li Software Development
        %li Technical Architecture
        %li Infrastructure Automation
        %li Site Optimization
    .col-last
      %h2 languages.
      %ul
        %li Ruby
        %li HTML5
        %li CSS
        %li JavaScript
        %li Flash/ActionScript
        %li Objective C
        %li Python
        %li C/C++
        %li Scala
        %li Java
        %li PHP

  .row.triple
    .col-first
      %h2 frameworks.
      %ul
        %li Ruby On Rails
        %li jQuery
        %li Prototype/Scriptaculous
        %li Sinatra
        %li Mootools
        %li Backbone
        %li Chef
        %li Flex
        %li Three20
        %li Django
        %li Node.js
        %li Processing
        %li Ext.js
        %li Sencha Touch
    .col-last
      %h2 data/cache stores.
      %ul
        %li MYSQL
        %li Postgresql
        %li Redis
        %li Memcached
        %li Oracle
        %li DB2
