#content.row
  %h2=@page
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %h3 H3 Header
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %h4 H4 Header
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .row
    .col-06.gutter-01
      %h5 H5 Header
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col-06.gutter-10
      %h6 H6 Header
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %br/
  %strong Bold text
  %br/
  %em Italic text
  %br/
  %a{:href => "http://www.google.com/"} Links to somewhere are set like this
  %br/
  %p
    Code spans looks like:
    = succeed "," do
      %code $ killall Finder
      nice huh?
      %br/
      %br/
      %p Pre-formatted code block:
      %pre
        %code
          :preserve
            git pull --rebase
            git add .
            git c
            git push
      .row
        .col-06.gutter-01
          %p An unordered list:
          %ul
            %li PBR
            %li Miller
            %li
              Schlitz
              %ul
                %li a ul ul li
                %li another ul li
            %li
              Genny Cream Ale
              %ol
                %li a ul ol li
                %li another ul ol li
            %li Utica Club
        .col-06.gutter-10
          %p An ordered list:
          %ol
            %li Wake up
            %li Shower
            %li
              Put pants on
              %ul
                %li a ol ul li
                %li another ol ul li
            %li
              Put a shirt on
              %ol
                %li a ol ol li
                %li another ol ol li
            %li Crack a beer
      %p Blockquotes:
      %blockquote
        %p
          Here I sit all broken hearted...
          %br>
          Came to shit but only farted.
      %p Horizontal Rule directly below:
      %hr
      %p Images are rendered straight up:
      %p
        %img{:alt => "alt text", :src => "https://secure.gravatar.com/avatar/4f927d146db729ae5602eb6d8b3aa8fc?s=140&d=https://d3nwyuy0nl342s.cloudfront.net%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "Title"}
