.row
  .col-12
    %h2=@page

.row.gutter-02
  .col-12
    %h3 960 ~ 12 Column Grid System
.row
  .col-12.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 12 cols
.row
  .col-11.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 11 cols
  .col-01.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 01 cols
.row
  .col-10.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 10 cols
  .col-02.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 02 cols
.row
  .col-09.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 09 cols
  .col-03.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 03 cols
.row
  .col-08.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 08 cols
  .col-04.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 04 cols
.row
  .col-07.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 07 cols
  .col-05.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 05 cols
.row
  .col-06.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 06 cols
  .col-06.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 06 cols
.row
  .col-05.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 07 cols
  .col-07.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 05 cols
.row
  .col-04.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 04 cols
  .col-08.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 08 cols
.row
  .col-03.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 03 cols
  .col-09.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 09 cols
.row
  .col-02.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 02 cols
  .col-10.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 10 cols
.row
  .col-01.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 01 cols
  .col-11.gutter-01
    .sherpa-box{:style => "height:24px; line-height:24px;"} 11 cols
