.navigation
  @extend .container
  +font-size(11)
  background: white
  font-family: $sans-bold-family
  text-transform: uppercase
  position: relative
  padding-top: 45px
  height: 95px

.navigation .nav li
  position: relative
  float: left

.navigation .nav a
  margin-right: 5em

.navigation .nav li:last-child a
  margin-right: 0

.navigation .nav a,
.navigation .nav a:visited
  color: #5b5e5b

.navigation .nav a:hover,
.navigation .nav a:active
  color: #0091ce

.navigation .nav .active a
  color: #9f9f9f
  cursor: default

.navigation .nav a:before
  +transition(width $speed $ease-in-out-quart)
  content: ""
  background-color: #0091ce
  position: absolute
  top: -2px
  left: 0
  width: 0
  height: 1px

.navigation .nav a:hover:before,
.navigation .nav a:active:before,
.navigation .nav .active a:before
  width: 1em

.navigation .logotype
  float: left
  margin-right: 5em

.navigation .modeset-typetrade
  font-size: 1.2em

.navigation .slant
  top: 40px
  right: 2%

.navigation .modeset-crest
  position: absolute
  bottom: 1em
  right: 0
  z-index: 30

.navigation canvas
  position: absolute
  top: 0
  right: 9px
  z-index: 40


@media (max-width: $tablets)
  .navigation .nav a
    margin-right: 3em

@media (max-width: $handheld)
  .navigation
    padding-top: 30px
  .navigation .nav a
    margin-bottom: 0.5em
  .navigation .logotype
    margin-right: 2em
    height: 60px

@media (max-width: 320px)
  .navigation
    padding-top: 10px
    height: auto
  .navigation .logotype
    height: 80px
  .navigation .nav li:last-child a
    margin-right: 3em

@media (max-width: $logo-swap)
  .navigation .slant,
  .navigation .modeset-crest
    display: none


