
/* iPad portrait */
@media (min-device-width:1024px) and (max-width:960px),(min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {
  .row, .col-10, .col-11, .col-12 {
    width: 710px;
  }

  #services {
    .col-04 {
      width: 470px;
    }
  }
}

/* iPhone landscape */
@media (min-device-width:1024px) and (max-width:747px),(max-device-width:480px) and (orientation:landscape) {
  .row, .col-07, .col-08, .col-09, .col-10, .col-11, .col-12 {
    width: 470px;
  }
}

/* iPhone portrait */
@media (min-device-width:1024px) and (max-width:469px),(max-device-width:480px) and (orientation:portrait) {
  .row, .col-05, .col-06, .col-07, .col-08, .col-09, .col-10, .col-11, .col-12 {
    width: 310px;
  }
  #header.gutter-09 {
    padding-bottom: 20px;
  }

  h1 {
    font-size: 65px;
  }
}

@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a:after {
    content: " (" attr(href) ")";
  }

  abbr:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
