
@mixin link_transition($timing) {
  -webkit-transition: color $timing ease-out;
     -moz-transition: color $timing ease-out;
       -o-transition: color $timing ease-out;
      -ms-transition: color $timing ease-out;
          transition: color $timing ease-out;
}

