%article.single
  :markdown
    # we are hiring.
    we have open positions for ruby on rails, iOS, android and html/css/javascript developers.
    <br />
    interested candidates should send a resume and link to your [github](http://www.github.com/) account to:
    <br />
    [jobs@modeset.com](mailto:jobs@modeset.com)

