%article.single
  :markdown
    # are you talented, interesting, and motivated? let's chat.

    we love working with talented and passionate developers. sound interesting? drop us an e-mail at [jobs@modeset.com](mailto:jobs@modeset.com) with a resume and link to your [github](http://www.github.com/) account and we'll set up a time to talk.

