%article.single
  %section
    :markdown
      # how we work.
      we've collectively spent years operating in environments high in stress,
      churn, and uncertainty, and from those experiences have developed a
      passion for agile methodologies that embrace change instead of fighting
      it. our goal is to offer our clients the flexibility to build the software their business requires, the ability to respond quickly
      to changing market demands, and the high quality product of a mature and experienced development team.

      ## what we offer
      we're not just another group of developers. we want to __understand your
      business__. we want to understand __what it is that is going to make you
      money__. what are your risks, blockers, opportunities, and market
      advantages? we're here to build you a __viable, releasable product__ you
      can take to customers, investors, and shareholders. we're here to help
      guide your project from idea to a __sustainable business__. whether you
      need a full build of a web application, mobile application, social
      application or purely architecture, infrastructure or optimization, we
      can help. we bring with us extensive knowledge and years of experience
      working with clients from small businesses to global multi-national
      brands.

      - we offer __custom development__, __technical consulting__, and __on-demand cto__ services
      - we operate on a "brain rental" model and charge straight __time-and-materials__ for all work
      - our rate is __$255 per hour per developer__ with a minimum billing increment of __1/2 hour__
      - our minimum engagement length is __two months__
      - we collect __two weeks' "rent" upfront__ as a deposit, and bill actual hours biweekly
      - you can __cancel at any time__ for any reason without penalties or hurt feelings
      - we cap our billable time at __40 hours per week__, per developer.

      we understand that your priorities, budgets, and needs may change over
      the course of an engagement. If you’re looking to staff up an internal
      team to take over development, we can help you evaluate candidates, hire,
      and transition to that team. Need more or fewer developers? We can easily
      ramp up or down on a per-iteration basis.

      interested in what we have to offer? give us a ring or drop us a line.
      coffee, lunch, or a beer - let’s chat and figure out if there’s common
      ground and an opportunity to make some magic happen. even if the match
      doesn't quite work out for a project, we’re always happy to make an
      introduction or even just shoot the breeze.

      if you wish to have a non-disclosure agreement in place, we have a [standard mutual NDA](Mode_Set_MNDA.pdf) that we are happy to execute. modifications or custom ndas will incur a $1000 fee, to be paid upfront. please note that we are unable to guarantee that we will reach agreement on custom NDA terms.

      ## we believe in.
      - Transparent and open client relationships
      - Software development as a creative process
      - Short feedback cycles
      - Continuously releasable software
      - Small cross-functional teams
      - Sustainable working schedules
      - Test-driven development
      - Paired programming
      - Continuous reflection and improvement

