%article.triple
  %section
    :markdown
      # we are creative technologists.
      with broad technical skills and deep experience in quality executions, we build immersive experiences, web platforms, and mobile apps for clients from bootstrapped startups to some of the biggest brands in the world.

  %section
    :markdown
      ## we focus on quality and efficiency.
      we are agile engineers, consistently delivering working software, operating with relaxed efficiency, and employing a nimble process encouraging transparency and short feedback cycles.

  %section
    :markdown
      ## we know the business of software.
      we are experts at operating in early-stage, fast-paced, high-uncertainty environments. we know how to kickstart and scale software-based businesses, what works, and what doesn’t. we can guide you through the process, whether you’re a first-time entrepreneur or an experienced veteran.
