%article.single
  :markdown
    # knowledge.
    this is where we drop some knowledge on the internets. the good, the bad,
    the opinionated. if you have any questions, hit us up on
    [twitter](http://twitter.com/modeset_). the [rss feed](#) is ready for your
    subscription.

%section.double.postings
  -(1..9).each do |i|
    %section
      :markdown
        ## Article Title #{i}.
        <date>12.15.2012</date>
        ![mode set](/assets/images/fpo/test-thumb.png)
        jeremy

        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna molit aliqua.

        Ut enim exercitation ullamco laboris nisi ut aliquip ex. Duis aute
        irure dolor in reprehen derit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occecat cupidatat non proident,
        sunt in culpa qui officia deserunt anim 400 characters...

        <a href="/post" class="internal">&raquo; read full article</a>

