%article.single
  :markdown
    # knowledge.
    this is where we drop some knowledge on the internets. the good, the bad, the opinionated.

%article.single
  :markdown
    # Rocky Mountain Ruby 2011.
    <date>08.1.2011</date>

    We're proud to announce that we are officially a Silver sponsor of the
    upcoming Rocky Mountain Ruby conference in Boulder. In addition, Jay will
    be speaking on Thursday afternoon, and we'll be co-sponsoring (with our
    good friends at Pivotal Boulder) the closing party at Avery Brewing
    Company.


    To celebrate, we thought we'd do something fun and give away a free
    conference registration to one lucky soul. To put your name in the hat, hit
    us up on twitter ([@modeset_](http://twitter.com/modeset_)) before monday.
    We'll be drawing a winner at random first thing monday morning.

    **Update:** And the winner is...Jon Hoyt ([@jonmagic](http://twitter.com/jonmagic)). Congrats Jon, we'll see you in Boulder!

    ![mode set](https://secure.gravatar.com/avatar/aa8ea677b07f626479fd280049b0e19f?s=48)

    posted by mode set

