%article.single
  :markdown
    # share the love.
    we love applying our skills and drive to pursuits outside of client work as
    well. from open source projects to conferences and events to sports and
    performances, we're all about getting out there, expanding our horizons,
    and giving back.

    ## events.

    ### bordo bello
    justin put together a custom kinect-based video game for the 2012 edition
    of AIGA Colorado's annual skateboard art show. [check it
    out](http://www.bordobello.com/).

    ### convergefl and geek-end
    jed presented workshops on transitioning from javascript to coffeescript at
    2012's converge in tallahassee and geek-end in savannah. check out the
    highlights [here](http://convergefl.com/schedule.php) and
    [here](http://www.geek-end.com/schedule/).

    ### rubyconf
    jay and jed put together the 5K/10K race for rubyconf 2012 in denver. check
    out race results on [github](https://github.com/modeset/rubyconf5k).

    ### denver startup week
    mode set was an in-kind sponsor of the inaugural [denver startup
    week](http://www.denverstartupweek.org/) in october 2012. jay chaired
    programming for the tech track, and ken provided logistical and event
    support. [check out the event recap](http://vimeo.com/52483119).

    ### create denver week
    justin put together a large public video game installation for [create
    denver
    week](http://www.denvergov.org/doca/DenverOfficeofCulturalAffairs/CreateDenver/CreateDenverWeek2012/tabid/440447/Default.aspx),
    a celebration of the creative scene in denver. [check out a recap of the
    installation](http://vimeo.com/43230920).

    ### rocky mountain ruby 2011
    mode set was a silver sponsor of [rocky mountain ruby
    2011](http://www.rockymtnruby.com/). jay spoke on the topic of cognitive
    psychology as it relates to the "zen of coding", and mode set co-sponsored
    the closing night brewery tour with [pivotal
    boulder](http://pivotallabs.com/).

    ### mountain.rb 2010
    jay spoke on the topic of managing long-term projects at [mountain.rb
    2010](http://mountainrb.com/sessions). [check out the
    video](http://confreaks.net/videos/417-mountainrb2010-avoiding-the-seven-year-itch).

    ## open source.

    - [cmsimple](https://github.com/modeset/cmsimple) - a simple CMS wrapped around the [Mercury](https://github.com/jejacks0n/mercury) content editor
    - [teaspoon](https://github.com/modeset/teaspoon) - a JavaScript test runner built on top of Rails for running mocha or jasmine test suites
    - [utensils](https://github.com/modeset/utensils) - a client side component driven library
    - [docomo](https://github.com/modeset/docomo) - a documentation and style guide generation tool tuned to work with the asset pipeline
    - [fishnet](https://github.com/modeset/fishnet) - a simple grid framework of functions and mixins for both fluid and fixed layouts
    - [modeset.js](https://github.com/modeset/modeset.js) - javascript experiments and testing ground
    - [chrono](https://github.com/modeset/chrono) - simple timekeeping system - make it easy to remember how you spend your hours
    - [dotset](https://github.com/modeset/dotset) - our default configuration files for Bash and Vim. [we &hearts; the Vim]
    - [bitbot](https://github.com/modeset/bitbot) - mode set's campfire bot

