%article.single
  :markdown
    # mode set.
    an agile software consultancy specializing in web and mobile application
    development, created by four developers with a focus on quality and
    creativity. we are experts at operating in fast-paced, rapidly-changing
    environments, rapidly delivering working software, and a nimble process
    that encourages transparency and short feedback cycles. we are more than a
    development shop, we want to put you in control of your success.

%article.double
  %section
    :markdown
      ## gabe varela.
      gabe leads technical development and architecture for mode set. he is an
      expert in web technologies and application development with over a decade
      of experience. he provides expertise and leadership in agile and test
      driven development, technical architecture, performance
      optimization/scaling, and infrastructure development.

      gabe received his bachelor of arts in biochemistry from the university of
      colorado, boulder. [twitter](http://twitter.com/g3ak) /
      [github](https://github.com/gvarela)

  %section
    :markdown
      ## jay zeschin.
      jay leads technical development and architecture for mode set. with over
      6 years of experience building and scaling web applications, from
      marketing databases to complex enterprise workflow apps, he enjoys
      bringing his background in theoretical computer science and psychology to
      bear on a wide variety of problems.

      jay received his bachelor of science in computer science from
      northwestern university. [twitter](http://twitter.com/jayzes) /
      [github](https://github.com/jayzes)

  %section
    :markdown
      ## justin gitlin.
      justin leads mobile development for mode set. he is an expert in
      developing engaging user interfaces, video games, mobile apps, and
      optimizing for iOS and android devices. with 12 years of experience
      working on international brands, he continues to push his skills and
      explore cutting-edge technologies.

      justin holds a double major in computer science and digital media
      studies, with a general business minor from the university of denver.
      [twitter](http://twitter.com/cacheflowe) /
      [github](https://github.com/cacheflowe)

  %section
    :markdown
      ## matthew kitt.
      matt leads the front end technology stack for mode set, with over a
      decade of experience building large scale web applications for global
      brands. he provides unique insight translating user experience, creative
      executions and interactions through innovative, optimized, interface
      development.

      matt received his bachelor of fine arts in interactive media and
      technology from the rochester institute of technology.
      [twitter](http://twitter.com/mkitt_) / [github](https://github.com/mkitt)

  %section
    :markdown
      ## ryan boyajian.
      ryan is a multi-talented engineering wizard for mode set. in his 7 years
      of experience building complex interactive executions for major brands,
      from configurators to games to kiosks to mobile apps, he's seen and done
      it all. with a musician's ken for logic and structure, he is an expert in
      architecting applications and interfaces across a variety of platforms.

      ryan received his bachelor of arts in interactive media design from the
      art institute of colorado. [twitter](http://twitter.com/reboyajian) /
      [github](https://github.com/boyajian)

  %section
    :markdown
      ## jed schneider.
      jed is a full stack engineer for mode set working remotely from his home
      outside Hilton Head, SC. he spent 17 years as a professional cyclist
      before switching to software development. his current foci include an
      interest in dynamic languages, test driven development, and bettering the
      software experience. he speaks at a variety of conferences and is in the
      process of releasing a screencast series on coffeescipt.

      jed received his masters of arts from the university of kansas and his
      bachelors of science from montana state university in bozeman.
      [twitter](http://twitter.com/jedschneider) /
      [github](https://github.com/jedschneider)

  %section
    :markdown
      ## jeremy jackson.
      jeremy is an open-source force of nature and full-stack software engineer
      for mode set. he has many years of experience building ui- and
      backend-intensive executions, with a sharp eye for design and keen
      attention to detail. he is also the author of a number of popular
      open-source projects including [mercury](https://github.com/jejacks0n/),
      [navigasmic](https://github.com/jejacks0n/navigasmic), and
      [temporal](https://github.com/jejacks0n/temporal), and is a contributor
      to rails and sprockets. [twitter](https://twitter.com/jejacks0n) /
      [github](https://github.com/jejacks0n/)

  %section
    :markdown
      ## ken lee.
      ken is a logistical mastermind responsible for keeping mode set's
      operations running smoothly. with over 3 years of experience in
      interactive traffic and project management, he has keen and
      detail-oriented insight into the day-to-day management of a development
      operation. 
      
      ken received his bachelor of arts in english creative writing from the 
      university of new mexico. [github](https://github.com/wewert)

%article.single
  :markdown
    # connect.
    - email us at [info<small>@</small>modeset.com](mailto:info@modeset.com)
    - chat with us at [720.440.BITS](tel:720-440-2487)
    - follow us on [twitter](http://twitter.com/modeset_)
    - see what've done on [github](https://github.com/modeset)

  %section.address
    %p we currently reside at:
    %address<
      %a(href="http://goo.gl/maps/36ggZ") 1782 platte st, denver, co 80202

  %div.modeset-logo.connect-logo(aria-hidden="true")

