= render 'feed_link'

%article.single
  :markdown
    # what we know.
    we are an opinionated group and we like to talk about it, the good and the bad. if you have any feedback, hit us up on [twitter](http://twitter.com/modeset_). the [rss feed](#{posts_feed_path}) is awaiting your subscription.

%section.double.postings
  - if collection.present?
    = render collection, :summary => true
  - else
    No posts found.
