
.row .columns li
  font-size: 1.6rem
  // @media (min-width: $tablet-size)
  //   font-size: 2.2rem

@media (max-width: 550px)
  .light .row.headerbars .columns
    margin-bottom: 2rem

@media (min-width: $tablet-size)
  .row .columns ul
    margin: 3rem 0

  .row.headerbars .columns ul::before
    content: " "
    display: block
    height: 1px
    background-color: #424446
    margin: 4rem 0

  .light .row.headerbars .columns ul::before
    background-color: $mint


.row.footerbars .columns::after
  content: " "
  display: block
  height: 1px
  background-color: $primary
  margin: 4rem 0
