section
  margin-bottom: 7rem

section.bordered
  border: 2px solid $mint
  padding: 5rem 4rem 3rem

section.light
  h1, h2, h3, h4, p
    color: white

section.office-photo-mode-set
  background-image: image-url("office-photo-mode-set.jpg")
  background-size: cover
