a
  transition: color $speed ease
  background: transparent
  text-decoration: none

a, a:visited,
p a, p a:visited
  color: $link-color
  text-decoration: none

a:hover, a:active
  text-decoration: none

.no-touch a:hover
  color: $link-hover

a:active, a.active, .active > a
  color: $link-hover

a:focus,
a:active,
.no-touch a:hover
  outline: 0
