// +font-face('MrsEavesBold', 'mrseavesbold-webfont', $asset-pipeline:true)

// Colors
$magenta: #ff00ff
$red: #b22222
$yellow: #ffc40d
$blue: #268bd2
$mint: #BBF9D4

// Status colors
$danger: $red
$important: $blue


// CI
$primary: #00bce4
$primaryRGB: rgba(0, 188, 228, 1)

// Base element colors
$base-color: #545759
$base-color-darker: #231F20
$base-color-hover: #434343
$nav-text-color: #545759
$base-color-active: $base-color-hover
$base-color-selected: $base-color-active

$link-color: $primary
$link-hover: #434343
$link-active: $link-hover
$link-selected: $link-active

// Settings
$speed: 300ms
$speed2: 450ms
$easing: $ease-ios-panel

// breakpoints
$tablet-size: em(720)
$break-4: em(1140)
$break-5: em(1440)
$break-6: em(1740)
