// +font-face('MrsEavesBold', 'mrseavesbold-webfont', $asset-pipeline:true)
// +font-face('modicon', 'modicon/modicon', $asset-pipeline:true)

// Base Sizing
$base-padding: 0.5em 0.8em

// Colors
$magenta: #ff00ff
$red: #b22222
$yellow: #ffc40d
$blue: #268bd2
$mint: #BBF9D4

// Status colors
$danger: $red
$important: $blue


// CI
$primary: #00bce4

// Base element colors
$base-color: #545759
$base-color-darker: #231F20
$base-color-hover: #434343
$base-color-active: $base-color-hover
$base-color-selected: $base-color-active

$link-color: $primary
$link-hover: #434343
$link-active: $link-hover
$link-selected: $link-active

// Settings
$speed: 150ms
$speed2: 300ms
$easing: $ease-ios-panel

$danger:       #ff0000
$success:      #00a550

$zindex-page-background:   1020

// breakpoints
$break-3: em(720)
$break-4: em(1140)
$break-5: em(1440)
$break-6: em(1740)
