.footer
  @extend .container
  +font-size(11)
  border-top: 1px solid #cfd0cf
  color: #7d7e7c
  text-transform: uppercase
  padding-top: 1em
  margin-top: 5em
  margin-bottom: 5em

.footer .nav > li
  float: left

.footer .nav > li > a
  margin-right: 1.75em

.footer .nav > li:last-child > a
  margin-right: 0

.footer a,
.footer a:visited
  color: #7d7e7c

.footer a:hover,
.footer a:active,
.footer .active a
  color: #0091ce

.footer .active a
  cursor: default

.footer .copyright
  text-transform: uppercase
  float: left
  margin: 0 1.75em 0 0

.bits
  background: transparent image-url('011-jibjab-19x10.png') no-repeat 0 0
  float: left
  margin-top: 2px
  margin-right: 1.75em
  width: 19px
  height: 10px

